---
---
#contact-info {
  background-color: #00000019;
  margin-top: 32px;
  font-size: 1.3em;
  padding: 5px 5px 15px 15px;
  a {
    color: #212529;
  }
}

#form-sending {
  display: none;
}
#form-error {
  display: none;
}
#form-success {
  display: none;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#sending {
  margin-right: -3rem;
  margin-bottom: 3rem;

  span {
    animation-name: opacity;
    animation-duration: 1s;
    animation-iteration-count: infinite;

    :nth-child(1) {
      -webkit-animation-delay: 100ms;
      animation-delay: 100ms;
    }

    :nth-child(2) {
      -webkit-animation-delay: 300ms;
      animation-delay: 300ms;
    }

    :nth-child(3) {
      -webkit-animation-delay: 500ms;
      animation-delay: 500ms;
    }
  }
}

