@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Quicksand:400');

body {
  font-family: 'Open Sans', sans-serif, Helvetica, Arial;
}

.no-webp body {
  background: url("https://res.cloudinary.com/dbsfyc1ry/image/upload/q_auto:best/v1578964811/carlgo11.com/bg_zw6yhb.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.webp body {
  background: url("https://res.cloudinary.com/dbsfyc1ry/image/upload/q_auto:good/v1578964811/carlgo11.com/bg_zw6yhb.webp") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

/* md and lower */
@media only screen and (max-width: 768px) {
  .no-webp body, .webp body {
    background: #eee;
    -webkit-background-image: unset;
  }

  .container {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}

/* lg and lower */
@media only screen and (max-width: 992px) {

  #posts-excerpts {
    margin: 0 auto;
  }
}

nav {
  min-height: 50px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

h1, h2, h3, h4 {
  font-weight: 300;
  text-transform: capitalize;
  color: #444854;
  margin-bottom: 16px;
}

h1 {
  font-size: 2.666em;
}

h2 {
  margin-top: 3vh;
}

h3 {
  margin-top: 2vh;
}

a {
  color: rgb(92, 184, 92);
}

a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

p {
  font-size: 18px;
  margin-bottom: 1.777em;
}

pre {
  padding: .633em;
  margin-bottom: 1.777em;
  background: rgba(246, 248, 250, 0.5);
}

ul {
  padding-inline-start: 1em;
  margin-bottom: 0;
}

input, textarea {
  background-color: rgba(0, 0, 0, .1);
  color: #666a76;
  border: 0;
  border-radius: .1em;
  width: 100%;
  padding: .844em;
  margin-bottom: 10px;
}

label {
  font-size: 18px;
  line-height: 1.777;
  font-weight: 400;
  color: #3f424a;
}

/* Main page layout */
.content-head {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.no-webp .content-head {
  background: rgba(179, 179, 179, 0.87) url("https://res.cloudinary.com/dbsfyc1ry/image/upload/fl_force_strip.progressive.progressive:steep,w_975,q_auto:good/v1578963377/carlgo11.com/img4_oac3tc.jpg") no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.webp .content-head {
  background: rgba(179, 179, 179, 0.87) url("https://res.cloudinary.com/dbsfyc1ry/image/upload/fl_force_strip.progressive.progressive:steep,q_auto:good/v1578963377/carlgo11.com/img4_oac3tc.webp") no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.content-body {
  background-color: rgba(255, 255, 255, 0.9);
  min-height: 100vh;
  padding: 2rem 3.07202761% 3.07202761%;
  margin: 0 0;
}

.content-body .row {
}

/* Avatar */

#avatar {
  box-sizing: content-box;
  display: block;
  float: none;
  position: static;
  transition: all ease .4s;
  height: 128px;
}

#avatar:hover {
  -webkit-transform: translateY(-.75em);
  -moz-transform: translateY(-.75em);
  -ms-transform: translateY(-.75em);
  transform: translateY(-.75em);
}

#avatar > * {
  width: 128px;
  border-radius: 50%;
}

#title {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 3.4em;
  color: white;
  margin-bottom: 0;
}

/* Navbar */
@media only screen and (min-device-width: 993px) {
  nav {
    border-bottom: 7px;
    border-bottom-color: #5cb85c;
    border-bottom-style: solid;
    height: 57px;
  }

  .nav-link {
    display: inline-block;
  }
}

.navbar-table {
  width: 100%;
  text-align: center;
  color: white;
  display: flex;
}

.navbar-table li {
  display: block;
}

.navbar-table a {
  padding: 8px;
  color: rgba(255, 255, 255, .5);
}

.navbar-table a:hover, .navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
}


.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container {
  max-width: 1400px;
  padding-left: 5vw;
  padding-right: 5vw;
}

.bg-success {
  background-color: #3ebf1b;
  color: #eee;
}

.success {
  color: #3ebf1b;
}

.btn {
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.btn:hover {
  color: #eee;
}

/* Posts & Index.html */

.post-date::before {
  font-family: 'Font Awesome 5 Free';
  content: '\f133';
  color: #666a76;
  margin-right: 5px;
}

.post-title {
  color: #444854;
}


#posts-excerpts, article {
  max-width: 690px;
}

.post-title {
  color: #3ebf1b;
  font-weight: 300;
  font-size: 2.9rem;
}

.post-excerpt {
  position: relative;
}

.post-excerpt:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 3em;
}

.post-title {
  text-align: center;
}

.post-title a:hover {
  color: inherit;
}

.post-link {
  margin-top: -2rem;
  border-top: 2px #4c545b solid;
}

.post-link > div {
  background: #5cb85c;
  color: white;
  max-width: max-content;
  padding: 6px;
  border: 2px #4c545b solid;
  border-top: 0;
  text-decoration: none;
  text-align: center;
  margin: -2px auto 13vh;
}

#post-list {
  padding: 0;
  width: max-content;
}

#post-list ul {
  list-style: none;
}

#post-list li {
  height: 27px;
}

#post-list a {
  color: #3ebf1b;
}

#index-body {
  justify-content: space-between;
}
