<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta tags -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="{{ site.author }}">
  <meta name="description" content="{{ page.description | default: page.excerpt | strip_html | default: site.description }}">
  <meta name="theme-color" content="#5CB85C">
  <meta property="og:type" content="{% if page.layout == "post" %}article{% else %}website{% endif %}">
  <meta property="og:title" content="{{ page.title | default: site.title }}">
  <meta property="og:description" content="{{ page.description | default: page.excerpt | strip_html }}">
  <meta property="og:image" content="{{ page.image.src | default: site.social_image }}">
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:creator" content="{{ site.author }}">

  <link rel="me" href="https://infosec.exchange/@Carlgo11"/>

  <!-- DNS Prefetch external domains -->
  <link rel="dns-prefetch" href="https://cdnjs.cloudflare.com">
  <link rel="dns-prefetch" href="https://res.cloudinary.com">

  <!-- Icon -->
  <link rel="icon apple-touch-icon" href="{{ site.github.owner_gravatar_url }}" sizes="256x256">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..600&family=Quicksand:wght@400&display=swap">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css" integrity="sha512-GQGU0fMMi238uA+a/bdWJfpUGKUkBdgfFdgBm72SUQ6BeyWjoY/ton0tEjH+OSH9iP4Dfh+7HM0I9f5eR0L/4w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.0/font/bootstrap-icons.min.css" integrity="sha512-yLNTU6YQWEtsM/WVkUqd2jRzzq5hmfFUMVvziVlkgC0R9HTElDtyF4DiWiBeMS36npvN+NWwrr764A4AWGcmQQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/main.css">
  {% if page.name == "contact.html" %}
  <link rel="stylesheet" href="/css/contact.css">
  {% elsif page.name == "about.html" %}
  <link rel="stylesheet" href="/css/about.css">
  {% endif %}

  <title>{% if page.title %}{{ page.title}} / {%endif%}{{ site.title }}</title>
</head>
<body>
<picture>
  <source srcset="/img/xl/bg.avif 4032w, /img/lg/bg.avif 1400w, /img/sm/bg.avif 768w" type="image/avif">
  <source srcset="/img/xl/bg.webp 4032w, /img/lg/bg.webp 1400w, /img/sm/bg.webp 768w" type="image/webp">
  <img srcset="/img/xl/bg.jpg 4032w, /img/lg/bg.jpg 1400w, /img/sm/bg.jpg 768w" type="image/jpeg" loading="lazy" draggable="false" onmousedown="return false" class="background d-print-none noselect">
</picture>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark sticky-top bg-dark">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Nav content -->
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="row navbar-nav mr-auto navbar-table noselect">
        <li class="col nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="col nav-item"><a class="nav-link" href="https://github.com/Carlgo11">GitHub</a></li>
        <li class="col nav-item"><a class="nav-link" href="https://twitter.com/Carlgo11">Twitter</a></li>
        <li class="col nav-item"><a class="nav-link" href="/contact/">Contact</a></li>
        <li class="col nav-item"><a class="nav-link" href="/about/">About</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">

  <!-- Top image with logo and name -->
  <div class="content-head"{% if page.image %} style="background:rgba(179, 179, 179, 0.87) url('{{ page.image.src }}') no-repeat center center / cover"{% endif %}>
    {% unless page.image %}
    <picture>
      <source srcset="/img/xl/head.avif 4032w, /img/lg/head.avif 1400w, /img/sm/head.avif 768w" type="image/avif">
      <source srcset="/img/xl/head.webp 4032w, /img/lg/head.webp 1400w, /img/sm/head.webp 768w" type="image/webp">
      <img srcset="/img/xl/head.jpg 4032w, /img/lg/head.jpg 1400w, /img/sm/head.jpg 768w" type="image/jpeg" draggable="false" loading="lazy" onmousedown="return false" class="content-head-bg">
    </picture>
    <div class="content-head-avatar">
      <img srcset="{{ site.github.owner_gravatar_url }}" type="image/png" loading="lazy" alt="">
      <h1>Carlgo11</h1>
    </div>
    {% endunless %}
  </div>

  <!-- Load content -->
  <div class="content-body">{{ content }}</div>

</div>
<script type="application/javascript">
  if (("connection" in navigator) && navigator.connection.saveData) {
    $('.background').remove();
    $('.head').remove();
  }
</script>
<!-- Load other JS sources -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js" integrity="sha512-OvBgP9A2JBgiRad/mM36mkzXSXaJE9BEIENnVEmeZdITvwT09xnxLtT4twkCa8m/loMbPHsvPl0T8lRGVBwjlQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>
